{%extends "base.html" %}

{%block title%}
    About page
{%endblock%}


{%block content%}
<p>
    Navigation available in Bootstrap share general markup and styles, from the base .nav class to the active and disabled states. Swap modifier classes to switch between each style.
</p>
<p>
    The base .nav component is built with flexbox and provide a strong foundation for building all types of navigation components. It includes some style overrides (for working with lists), some link padding for larger hit areas, and basic disabled styling.
</p>

{%endblock%}